{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "API v1.0",
        "description": "API version 1.0.",
        "contact": {
            "name": "API Team",
            "url": "http:\/\/www.geocaching.com",
            "email": "apihelp@geocaching.com"
        }
    },
    "host": "api.groundspeak.com",
    "schemes": [
        "https"
    ],
    "paths": {
        "\/v{api-version}\/adventures\/{adventureId}": {
            "get": {
                "tags": [
                    "Adventures"
                ],
                "summary": "Get a single adventure",
                "description": "This method will return an adventure along with its stage(s).\r\nOnly the first stage is returned for sequential adventures.\r\nThis method can only be called by premium members.",
                "operationId": "Adventures_Get",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "adventureId",
                        "in": "path",
                        "description": "The guid of the adventure.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#\/definitions\/AdventureModel"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/adventures\/anon\/{adventureGuid}": {
            "get": {
                "tags": [
                    "Adventures"
                ],
                "summary": "Get a single adventure's starting location",
                "description": "This method will return an adventure along with its starting location.\r\nThis method can be called anonymously (no account\/access token required) but <b>requires<\/b> the proper API License scope.\r\nThis method can only return public adventures.",
                "operationId": "Adventures_GetStartLocation",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "adventureGuid",
                        "in": "path",
                        "description": "The guid of the adventure",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#\/definitions\/AdventureStartModel"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/adventures\/search": {
            "get": {
                "tags": [
                    "Adventures"
                ],
                "summary": "Search for Adventures",
                "description": "This method will return search results.",
                "operationId": "Adventures_Search",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "The query used on the adventures.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Defaults to 0, how many adventures to skip.",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 0
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Defaults to 50, how many adventures to return.",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 50
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Properties you want to return, defaults to \"id\"",
                        "required": false,
                        "type": "string",
                        "default": "id"
                    },
                    {
                        "name": "excludeOwned",
                        "in": "query",
                        "description": "true to exclude owned caches\/labs by the requesting user; otherwise, false includes all results.",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "excludeCompleted",
                        "in": "query",
                        "description": "true to exclude completed caches\/labs by the requesting user; otherwise, false includes all results.",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/AdventureBasicInfoModel"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/friendrequests": {
            "get": {
                "tags": [
                    "Friends"
                ],
                "summary": "Get a list of friend requests for the calling user",
                "description": "This method will return a list of requests including both inbound and outbound requests.",
                "operationId": "Friends_GetFriendRequests",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "How many requests to skip (default = 0)",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 0
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "How many requests to return (default = 10, max = 50)",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 10
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Properties you want to return, defaults to id",
                        "required": false,
                        "type": "string",
                        "default": "id"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/FriendRequest"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Friends"
                ],
                "summary": "Create a friend request",
                "description": "This method will return the friend request created.",
                "operationId": "Friends_CreateFriendRequest",
                "consumes": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "friendRequest",
                        "in": "body",
                        "description": "The friend request to create.",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/FriendRequest"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Properties you want to return, defaults to id",
                        "required": false,
                        "type": "string",
                        "default": "id"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#\/definitions\/FriendRequest"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "409": {
                        "description": "Conflict"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/friends": {
            "get": {
                "tags": [
                    "Friends"
                ],
                "summary": "Get a list of friends for the calling user",
                "description": "This method will return a list of Users.",
                "operationId": "Friends_GetFriends",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "How many friends to skip (default = 0)",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 0
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "How many friends to return (default = 10, max = 50)",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 10
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort order (default = FriendedDate-)",
                        "required": false,
                        "type": "string",
                        "default": "FriendedDate-"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Properties you want to return, defaults to referenceCode",
                        "required": false,
                        "type": "string",
                        "default": "referenceCode"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/User"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/friends\/geocaches\/{referenceCode}\/geocachelogs": {
            "get": {
                "tags": [
                    "Friends"
                ],
                "summary": "Get a list of friends geocache logs for specified geocache",
                "description": "This method will return a list of GeocacheLogs.",
                "operationId": "Friends_GetFriendsGeocacheLogs",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "identifier of the geocache (e.g. GCK25B)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "How many friends to skip (default = 0)",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 0
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "How many logs to return (default = 10, max = 50)",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 10
                    },
                    {
                        "name": "logTypes",
                        "in": "query",
                        "description": "log types to include in response, defaults to all",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Properties you want to return, defaults to referenceCode",
                        "required": false,
                        "type": "string",
                        "default": "referenceCode"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "fields to expand on the geocache log",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/GeocacheLog"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/friendrequests\/{requestId}\/accept": {
            "post": {
                "tags": [
                    "Friends"
                ],
                "summary": "Accept a friend request",
                "description": "",
                "operationId": "Friends_AcceptFriendRequest",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "requestId",
                        "in": "path",
                        "description": "friend request identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "409": {
                        "description": "Conflict"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/friends\/{userCode}": {
            "delete": {
                "tags": [
                    "Friends"
                ],
                "summary": "Removes a friend",
                "description": "This method will return no content.",
                "operationId": "Friends_RemoveFriend",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "userCode",
                        "in": "path",
                        "description": "The identifier of the friend (their user reference code)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Ok",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "409": {
                        "description": "Conflict"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/friendrequests\/{requestId}": {
            "delete": {
                "tags": [
                    "Friends"
                ],
                "summary": "Delete a friend request",
                "description": "This method will return no content.",
                "operationId": "Friends_DeleteFriendRequest",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "requestId",
                        "in": "path",
                        "description": "The identifier of the friend request",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Ok",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "409": {
                        "description": "Conflict"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/geocachelogs\/{referenceCode}": {
            "get": {
                "tags": [
                    "GeocacheLogs"
                ],
                "summary": "Get a single geocache log",
                "description": "This method will return a single geocache log.",
                "operationId": "GeocacheLogs_GetGeocacheLog",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "The reference code of the geocache log (example: GL100).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "fields to include with base geocache log object",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Property fields you want to return, defaults to referencecode",
                        "required": false,
                        "type": "string",
                        "default": "referencecode"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#\/definitions\/GeocacheLog"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "GeocacheLogs"
                ],
                "summary": "Update a geocache log",
                "description": "This method will return a geocache log.",
                "operationId": "GeocacheLogs_UpdateGeocacheLog",
                "consumes": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "The log reference code (example: GL100).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "log",
                        "in": "body",
                        "description": "An instance of the log that is being modified",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/GeocacheLog"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Property fields you want to return, defaults to referencecode",
                        "required": false,
                        "type": "string",
                        "default": "referencecode"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#\/definitions\/GeocacheLog"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "422": {
                        "description": "Unprocessable Entity"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "GeocacheLogs"
                ],
                "summary": "Delete a geocache log",
                "description": "This method will not have a response body.",
                "operationId": "GeocacheLogs_DeleteGeocacheLog",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "The reference code of the geocache log (example: GL100).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/geocachelogs\/upvotes": {
            "get": {
                "tags": [
                    "GeocacheLogs"
                ],
                "summary": "Get a the upvotes associated with the provided geocache logs",
                "description": "This method will return a list of geocache log upvote info.",
                "operationId": "GeocacheLogs_GetLogUpvotes",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCodes",
                        "in": "query",
                        "description": "Comma delimited list of geocache log reference codes (example: GL100).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Properties you want to return. Defaults to \"geocacheLogCode\".",
                        "required": false,
                        "type": "string",
                        "default": "geocacheLogCode"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/GeocacheLogUpvote"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/geocachelogs\/{referenceCode}\/images": {
            "get": {
                "tags": [
                    "GeocacheLogs"
                ],
                "summary": "Get a the images attached to a geocache log",
                "description": "This method will return a list of images.",
                "operationId": "GeocacheLogs_GetImages",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "The reference code of the geocache log (example: GL100).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Amount of images to skip over used for pagination. Defaults to 0.",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 0
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Amount of images to include in results. Defaults to 10.",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 10
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Properties you want to return. Defaults to \"url\".",
                        "required": false,
                        "type": "string",
                        "default": "url"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/Image"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "GeocacheLogs"
                ],
                "summary": "Add an image to a geocache log",
                "description": "This method will return a single Geocache.",
                "operationId": "GeocacheLogs_AddImage",
                "consumes": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "The reference code of the geocache log (example: GL100).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "image",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/PostImage"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "fields to return on the response object, defaults to \"url\"",
                        "required": false,
                        "type": "string",
                        "default": "url"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#\/definitions\/Image"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/geocachelogs": {
            "post": {
                "tags": [
                    "GeocacheLogs"
                ],
                "summary": "Add a log to a geocache",
                "description": "This method will return the created geocache log.",
                "operationId": "GeocacheLogs_CreateGeocacheLog",
                "consumes": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "log",
                        "in": "body",
                        "description": "The log to add",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/PostGeocacheLog"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "the fields to return in the response body, defaults to referencecode",
                        "required": false,
                        "type": "string",
                        "default": "referencecode"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#\/definitions\/GeocacheLog"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/geocachelogs\/{referenceCode}\/upvotes\/{upvoteTypeId}": {
            "post": {
                "tags": [
                    "GeocacheLogs"
                ],
                "summary": "Add an upvote to a geocache log",
                "description": "This method will return the upvote data for the upvoted geocache log.",
                "operationId": "GeocacheLogs_AddUpvote",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "identifier of the geocache log",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "upvoteTypeId",
                        "in": "path",
                        "description": "the type of upvote",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Properties you want to return. Defaults to \"geocacheLogCode\".",
                        "required": false,
                        "type": "string",
                        "default": "geocacheLogCode"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#\/definitions\/GeocacheLogUpvote"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "GeocacheLogs"
                ],
                "summary": "Delete a geocache log upvote",
                "description": "This method will not have a response body.",
                "operationId": "GeocacheLogs_DeleteUpvote",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "identifier of the geocache log",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "upvoteTypeId",
                        "in": "path",
                        "description": "the type of upvote",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/geocachelogs\/{referenceCode}\/images\/{imageGuid}": {
            "delete": {
                "tags": [
                    "GeocacheLogs"
                ],
                "summary": "Deletes a geocache log image",
                "description": "This method will not return anything in the body.",
                "operationId": "GeocacheLogs_DeleteGeocacheLogImages",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "The reference code of the geocache log (example: GL100).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "imageGuid",
                        "in": "path",
                        "description": "the guid of the image",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/geocaches\/{referenceCode}\/notes": {
            "put": {
                "tags": [
                    "GeocacheNotes"
                ],
                "summary": "Upsert a geocache note for the calling user",
                "description": "This method will return the upserted text.",
                "operationId": "GeocacheNotes_UpsertNote",
                "consumes": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "The identifier of the geocache (ex: GC25)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "geocacheNote",
                        "in": "body",
                        "description": "The geocache note text.",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/GeocacheNote"
                        }
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#\/definitions\/GeocacheNote"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "409": {
                        "description": "Conflict"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "GeocacheNotes"
                ],
                "summary": "Delete a geocache note for the calling user",
                "description": "This method will return no content.",
                "operationId": "GeocacheNotes_DeleteNote",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "The identifier of the geocache (ex: GC25)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "409": {
                        "description": "Conflict"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/geocaches\/{referenceCode}": {
            "get": {
                "tags": [
                    "Geocaches"
                ],
                "summary": "Get a single Geocache",
                "description": "This method will return a single Geocache.",
                "operationId": "Geocaches_GetGeocache",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "The reference code of the geocache (example: GC25).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lite",
                        "in": "query",
                        "description": "Select to return a geocache object without the description and hints",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "fields to include with base geocache object",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "fields you want to return, defaults to \"referenceCode\"",
                        "required": false,
                        "type": "string",
                        "default": "referenceCode"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#\/definitions\/Geocache"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/geocaches\/{referenceCode}\/images": {
            "get": {
                "tags": [
                    "Geocaches"
                ],
                "summary": "Get a list of images for a geocache",
                "description": "This method will return a list of images.",
                "operationId": "Geocaches_GetImages",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "The reference code of the geocache (example: GC25).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "how many images to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 0
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "how many images to retrieve",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 10
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "fields you want to return, defaults to \"url\"",
                        "required": false,
                        "type": "string",
                        "default": "url"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/Image"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/geocaches\/{referenceCode}\/favoritedby": {
            "get": {
                "tags": [
                    "Geocaches"
                ],
                "summary": "Get a list of Users that have favorited a geocache",
                "description": "This method will return a list of users.",
                "operationId": "Geocaches_GetFavoritedBy",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "The reference code of the geocache (example: GC25)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "how many users to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 0
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "how many users to retrieve",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 10
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "fields you want to return, defaults to \"referenceCode\"",
                        "required": false,
                        "type": "string",
                        "default": "referenceCode"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/User"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/geocaches": {
            "get": {
                "tags": [
                    "Geocaches"
                ],
                "summary": "Get a list of geocaches",
                "description": "This method will return a list of geocaches.",
                "operationId": "Geocaches_GetGeocaches",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCodes",
                        "in": "query",
                        "description": "comma delimited list of geocache reference codes to retrieve (example: GC25,GC26,GC27). Reference codes not beginning with GC will be ignored.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lite",
                        "in": "query",
                        "description": "Select to return a geocache object without the description and hints",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "fields to include with base geocache object",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "fields you want to return, defaults to \"referenceCode\"",
                        "required": false,
                        "type": "string",
                        "default": "referenceCode"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/Geocache"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/geocaches\/{referenceCode}\/trackables": {
            "get": {
                "tags": [
                    "Geocaches"
                ],
                "summary": "Get a list of trackables in a geocache",
                "description": "This method will return a list of trackables.",
                "operationId": "Geocaches_GetTrackables",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "The reference code of the geocache (example: GC25).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "how many trackables to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 0
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "how many trackables to retrieve",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 10
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "fields you want to return, defaults to referenceCode",
                        "required": false,
                        "type": "string",
                        "default": "referenceCode"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/Trackable"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/geocaches\/search": {
            "get": {
                "tags": [
                    "Geocaches"
                ],
                "summary": "Search for Geocaches",
                "description": "This method will return search results.",
                "operationId": "Geocaches_Search",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "The query used on the geocaches",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Defaults to distance if coords are provided otherwise favoritepoints (distance, favorites, cachename, size, difficulty, terrain, founddate, placeddate, id)",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "lite",
                        "in": "query",
                        "description": "Return a lite version of geocache (no description, hint, or",
                        "required": false,
                        "type": "boolean",
                        "default": true
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Defaults to 0, how many geocaches to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 0
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Defaults to 50, how many geocaches to return",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 50
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "fields to include with base geocache object",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Properties you want to return, defaults to \"referencecode\"",
                        "required": false,
                        "type": "string",
                        "default": "referenceCode"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/Geocache"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/geocaches\/{referenceCode}\/geocachelogs": {
            "get": {
                "tags": [
                    "Geocaches"
                ],
                "summary": "Get a list of geocache logs for the specified geocache",
                "description": "This method will return a list of geocache logs.",
                "operationId": "Geocaches_GetLogs",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "The reference code of the geocache (example: GC25).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "how many logs to skip over",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 0
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "how many logs to retrieve",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 10
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "fields to include with base geocache object",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "how to sort the logs",
                        "required": false,
                        "type": "string",
                        "default": "newest"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "fields you want to return, defaults to referenceCode",
                        "required": false,
                        "type": "string",
                        "default": "referenceCode"
                    },
                    {
                        "name": "logTypes",
                        "in": "query",
                        "description": "log types to include in response, defaults to all",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/GeocacheLog"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/geocaches\/{referenceCode}\/finalcoordinates": {
            "post": {
                "tags": [
                    "Geocaches"
                ],
                "summary": "Check Final Coordinates",
                "description": "Use the status codes to verify if final coordinates are correct",
                "operationId": "Geocaches_CheckFinalCoordinates",
                "consumes": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "The reference code of the geocache (example: GC25).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "coordinates",
                        "in": "body",
                        "description": "The final coordinates to check.",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/Coordinates"
                        }
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "schema": {
                            "$ref": "#\/definitions\/Geocache"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/geocaches\/{referenceCode}\/bulktrackablelogs": {
            "post": {
                "tags": [
                    "Geocaches"
                ],
                "summary": "Create multiple trackable logs on a single geocache",
                "description": "This method will return the successfully created trackable logs.",
                "operationId": "Geocaches_BulkCreateTrackableLogs",
                "consumes": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "the identifier of the geocache",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "logs",
                        "in": "body",
                        "description": "The logs to add",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/PostTrackableLog"
                            }
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Property fields you want to return, defaults to referencecode",
                        "required": false,
                        "type": "string",
                        "default": "referenceCode"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#\/definitions\/PartialResponse[TrackableLog]"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/geotours\/{referenceCode}": {
            "get": {
                "tags": [
                    "GeoTours"
                ],
                "summary": "Get a GeoTour",
                "operationId": "GeoTours_GetGeoTour",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "Identifier of the GeoTour (e.g. GT7)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Properties you want to return, defaults to \"referencecode\"",
                        "required": false,
                        "type": "string",
                        "default": "referenceCode"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/GeoTour"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/geotours": {
            "get": {
                "tags": [
                    "GeoTours"
                ],
                "summary": "Get GeoTours",
                "operationId": "GeoTours_GetGeoTours",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Defaults to unsorted (distance, name). If using distance sorting, must provide latitude and longitude (e.g. dist+:[47,-122])",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Defaults to 0, how many geocaches to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 0
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Defaults to 20, how many geocaches to return",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 20
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Properties you want to return, defaults to \"referencecode\"",
                        "required": false,
                        "type": "string",
                        "default": "referenceCode"
                    },
                    {
                        "name": "api-version",
                        "in": "path",
                        "description": "The requested API version",
                        "required": true,
                        "type": "string",
                        "default": "1.0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/GeoTour"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Too many requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "\/v{api-version}\/geotours\/{referenceCode}\/geocaches": {
            "get": {
                "tags": [
                    "GeoTours"
                ],
                "summary": "Get the geocaches on the GeoTour",
                "description": "This method will return a list of geocaches.",
                "operationId": "GeoTours_GetGeocachesByGeoTour",
                "consumes": [],
                "produces": [
                    "application\/json",
                    "text\/json",
                    "application\/json-patch+json"
                ],
                "parameters": [
                    {
                        "name": "referenceCode",
                        "in": "path",
                        "description": "Identifier of the GeoTour (e.g. GT7)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lite",
[...]
